@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: cinzel;
  src: url('./assets/fonts/cinzel/Cinzel-Regular.ttf');
}
@font-face {
  font-family: comfortaa;
  src: url('./assets/fonts/comfortaa/Comfortaa-Light.ttf');
}

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 2px 2px 4px black;
    }
    .text-shadow-md {
      text-shadow: 4px 4px 8px black;
    }
    .text-shadow-lg {
      text-shadow: 15px 15px 30px black;
    }
    .text-shadow-none {
      text-shadow: none;
    }
  }
}
@layer components {
  .nav-link {
    @apply text-xl mr-5  font-comfortaa border-b-4 border-transparent    
          transition
          duration-500;
  }

  .nav-link-mobile {
    @apply mr-0 mb-3 w-max;
  }

  .home-intro {
    @apply font-comfortaa text-center;
  }

  .blink {
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 2s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
}
